/******************* All company page related styling ************************/

.page-template-ikon-company {
	p span {
		display:inline-block;
	}
	/* Fixed menu */
	.menu-container {
		position:relative;
		padding-right:50px;
		max-width:270px;
		width:100%;
		@media (min-width:992px) {
			.company-menu {
				top:160px;
				&.fixed {
					max-width:220px;
					width: 100%;
					position:fixed;
				}
				a {
					color:#000;
					position:relative;
					&:active, &:focus {
						text-decoration:none;
					}
					&.about p {
						border-top:1px solid #d4d4d4;
					}
					&.company p {
						border-bottom:1px solid #d4d4d4;
					}
				    .square-arrow {
				    	height: 16px;
					    width: 16px;
					    margin-right: -8px;
					    margin-top:19px;
					    float:right;
					    transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					    -moz-transform: rotate(45deg);
					    -webkit-transform: rotate(45deg);
					    -o-transform: rotate(45deg);
				    }
				    &.toggled {
				    	p {
				        	background: #84370a;
				        	color: #fff;
				        	border:none;
				        }
				        .square-arrow {
				        	background: #84370a;
				        }
			  	    }
				    p {
					    padding: 12px 15px;
					    margin-bottom:0;
				    }
				}
			}
	    }
	    @media (max-width:991px) {
	    	display:none;
	    }
	    /* @media (max-width:991px) {
	    	padding:0;
	    	max-width:100%;
	    	p {
	    		border: 1px solid #84370a;
			    border-radius: 2px;
			    padding: 10px;
			    color: #84370a;
			    width: calc(50% - 10px);
			    float:left;
			    text-align:center;
			    margin-bottom:30px;
	    	}
	    	a:first-child p {
			    margin-right:10px;
	    	}
	    	a:last-child p {
			    margin-right:10px;
	    	}
	    } */
	}

	/* article */
	.article-container {
		@media (min-width:992px) {max-width:calc(100% - 270px);}
	}


	/* anchor point adjustment */
	article {
		position: relative;
        overflow: hidden;
        .anchor {
		    position: absolute;
		    top: -160px;
		    visibility: hidden;
        }
        &:last-child {
        	.anchor {
        		top: -220px;
        	}
        }
	}

	/* Logos */
	.logo-container {
		float:left;
		border-top: 1px solid #ceaf9d;
        border-bottom: 1px solid #ceaf9d;
        img {
        	max-width:210px;
        }
	}
	img.hakutsuru {
		max-width:150px;
	}
}

/* Compatibility tweaks */
.ua-safari-8, .ua-ie-10, .ua-ie-9 {
	.page-template-ikon-company {
		.menu-container {
			float:left;
		}
		.article-container {
			@media (min-width:992px) {float:right;}
		}
	}

}



