/******************* Header Navigation ************************/

/* nav right align */
.justify-content-end {justify-content: flex-end !important;}


/* Hide, Show desktop or mobile nav */
nav {
	&.desktop-view {z-index:999; #main-menu {@media (max-width:880px) {display:none!important;} } }
	&.mobile-view {display:none; @media (max-width:880px) {display:block!important;} }
}

.navbar {
	width:100%;
	height:100px;
	position:fixed;
	z-index:99;
	@media (max-width:880px) {
		height:70px;
	}
	@media (max-width:460px) {
		height:60px;
	}
	@media (max-width:370px) {
		height:50px;
	}

	#navbarNavDropdown {
		@media (max-width:575px) {
		    position: absolute;
		    right: 0;
		    top: -15px;
		}
		@media (max-width:460px) {
			top:-21px;
		}
		@media (max-width:370px) {
			top:-26px;
		}
	}
	&.desktop-view {
		@media (min-width:881px) {
			border-bottom:1px solid #d4d4d4;
		}
	}

	/* Navbar */
	ul {
		@media (max-width:575px) {
			flex-direction:row;
		}
		li {
			&.current_page_item {
				a {
					color:#84370A;
					font-weight:600;
					border-bottom:2px solid #84370A;
				}
			}
			a {
				text-transform:uppercase;
				color:#000000;
				font-size:19px;
				margin:0 7px;
				padding:0;
				line-height:99px;
				@media (max-width:575px) {
					font-size:16px;
					margin:0 12px;
				}
				@media (max-width:460px) {
					margin:0 7px;
					font-size:15px;
				}
				@media (max-width:460px) {
					font-size:14px;
				}
			}
		}
	}

	/* Logo */
	.logo img {
		width:auto;
		height:65px;
		margin-top:-4px;
		@media (max-width:880px){
			margin-top:-2px;
			height:53px;
		}
		@media (max-width:575px) {
			margin-top:1px;
			height:48px;
		}
		@media (max-width:480px) {
			margin-top:1px;
            height: 43px;
		}
		@media (max-width:370px) {
			margin-top:1px;
            height: 38px;
		}
	}

	/* CTA Nav */
	#cta-nav {
		li:first-child {margin: 0 8px 0 8px;}
		li:last-child {
			margin:0;
			a {
			    margin-top: 1px;
				@media (max-width:575px) {
				    margin: 0 10px;
				    margin-left: 0px;
				    margin-top: 1px;
				}
			}
		}
	}

	/* CTA Button */
	button.btn.ikon {
		padding: .7rem 1rem;
		@media (max-width:991px) {width:122px;padding:.5rem;}
		@media (max-width:880px) {width:103px;padding:.35rem .3rem;}
		@media (max-width:576px) {width:97px;padding:.3rem .1rem;padding-top: .3rem;}
		@media (max-width:370px) {width:92px;padding:.2rem .1rem;padding-top: .3rem;}
		h6 {
	  	font-size:13px;
	  	@media (max-width:991px) {line-height:1.4;font-size:12px;}
	  	@media (max-width:880px) {line-height:1.4;font-size:10px;}
	  	@media (max-width:576px) {font-size:9px;}
		}
	}

	/* Mobile nav */
	&.mobile-view {
		    height:140px;
			@media (max-width:460px) {
				height:120px;
			}
			@media (max-width:370px) {
				height:100px;
			}
		div{
			margin-top:70px;
			@media (max-width:460px) {
				margin-top:60px;
			}
			@media (max-width:370px) {
				margin-top:50px;
			}
		}
		ul {
		text-align:center;
		display:inherit;
			li {
		    	display: inline-block;
		    	a {
		    		line-height:67px;
		    		@media (max-width:460px) {
		    			line-height:57px;
		    		}
		    		@media (max-width:370px) {
		    			line-height:47px;
		    		}
		    	}
		    }
	    }
	}

	/* Headroom */
	&.mobile-view {
		&.headroom--pinned {
			transform:translatey(0px);
			-wekbit-transform:translatey(0px);
			-moz-transform:translatey(0px);
			-ms-transform:translatey(0px);
			-o-transform:translatey(0px);
		}
		&.headroom--unpinned {
			transform:translatey(-69px);
			@media (max-width:460px) {
				transform:translatey(-59px);
				-wekbit-transform:translatey(-59px);
				-moz-transform:translatey(-59px);
				-ms-transform:translatey(-59px);
				-o-transform:translatey(-59px);
			}
			@media (max-width:370px) {
				transform:translatey(-49px);
				-wekbit-transform:translatey(-49px);
				-moz-transform:translatey(-49px);
				-ms-transform:translatey(-49px);
				-o-transform:translatey(-49px);
			}
		}
	}
}

/******************* Header Compatibility Tweaks ************************/

nav.navbar {
	.ikon-container {
		line-height:96px;
		@media (max-width:880px) {line-height:67px}
		@media (max-width:460px) {line-height:57px}
		@media (max-width:370px) {line-height:47px}
		#navbarNavDropdown {
			float:right;
			div {
				display:inline-block;
			}
			ul {
				display:inline-block;
				li {
				    display:inline-block;
		    	}
			}
		}
	}
}

/* Browser specific */
.ua-safari-8, .ua-safari-7, .ua-safari-6, .ua-ie-9, .ua-ie-10,  {
	nav.navbar .ikon-container #navbarNavDropdown {width:auto;}
}


/******************* Footer Navigation ************************/
footer {
	.site-info{
		position:relative;
		.logo {
			margin-right:25px;
			border-right:1px solid #d3d3d3;
			padding-right:25px;
			@media (max-width:991px) {display:none;}
			img {
				width: 200px;
	            max-height: 64px;
			}
		}
		.contact-info {
			@media (max-width:767px) {width:100%;}
			p {
				margin:0 auto;
				@media (max-width:767px) {max-width:287px;text-align:center}
			}
			@media (max-width:767px) {
				span{
					display:none;
				}
				a.map-link {
					display:block;
				}
		    }
			button {
				display:none;
				margin:auto;
				width:100%;
				max-width:310px;
				text-transform:lowercase;
				text-transform:capitalize;
				margin-top:20px;
				@media (max-width:767px) {display:block;}
				a {
					text-decoration:none;
				}
			}
		}
		.legal {
			width:auto;
	    height:64px;
	    position: absolute;
	    right: 0;
	    margin:0 auto;
	    @media (max-width:767px) {
	    	height:58px;
	    	position:initial;
	    	margin-top:20px;
	    }
		}
	}
	a, a:hover, a:active, a:focus {
		text-decoration:underline;
		color:#84370A;
		font-size:90%;
	}
	.copyright {
    margin: 8px 0;
	}
}


/* Compatibility tweaks */
.ua-safari-8, .ua-ie-10, .ua-ie-9 {
	footer {
		.site-info {
			.logo {
				float:left;
			}
			.contact-info {
				float:left;
			}
		}
	}
}





