/******************* All contact page and "Contact Form 7 Pkugin" related styling ************************/

.page-template-ikon-contact {
	.entry-content {
		width: 100%;
		p {
			margin:0;
			color:#000;
			font-weight:600;
			&.sm {
				font-weight:400;
			}
			span {
				font-weight:400;
				color:#4f4f4f;
				font-size:90%;
				display:inline;
				&.wpcf7-not-valid-tip {
					color:#de3c37;
					font-size:15px;
					text-transform:uppercase;
					font-weight:600;
					@media (max-width:767px) {
						font-size:14px;
					}
				}
			}
		}
		span {
			display:block;
			input, textarea {
				width:100%;
				border:1px solid #C29B85;
				border-radius:2px;
				padding:8px;
				padding-left:10px;
				&:active, &:focus {
				    outline: none;
				    border:1px solid #84370a;
				}
			}
			input {
				height: 43px;
			}
			textarea {
				height: 130px;
			}
		}

		/* Submit link */
		h6 {
			text-align:center;
			input.wpcf7-submit {
				max-width: 170px;
				width:100%;
			    background: #84370a;
			    color: #fff;
			    padding: 10px;
			    border-radius: 2px;
			    border: none;
			    font-size:13px;
			    letter-spacing:.9px;
			    text-transform:uppercase;
			}
		}

        /* Selector */
		select {
			height:43px;
			width:100%;
			border:1px solid #C29B85;
			border-radius:2px;
			background:transparent;
			padding-left:10px;
			&:active, &:focus {
			    outline: none;
			    border:1px solid #84370a;
			}
		}
        /* Alert message */
		.wpcf7-response-output {
			margin:0;
			padding:10px;
			padding-left:12px;
			margin-bottom:26px;
			font-size:18px;
			@media (max-width:767px) {
				font-size:16px;
			}
			&.wpcf7-mail-sent-ok {
				color:#ffffff;
				background:#398f14;
				border:none;
			}
			&.wpcf7-validation-errors {
				color:#ffffff;
				background:#bc1a2e;
				border:none;
			}

		}

		/* Layout */
		.left {
			@media (min-width:992px) {padding-right:50px;border-right:1px solid #d3d3d3;}
			@media (max-width:991px) and (min-width:768px) {padding-right:25px;border-right:1px solid #d3d3d3;}
		}
		.right {
			@media (min-width:992px) {padding-left:50px;}
			@media (max-width:991px) and (min-width:768px) {padding-left:25px;}
		}

		.two-column {
			&:first-child {
				@media (min-width:768px) {padding-right:6px;}
			}
			&:nth-child(2) {
				@media (min-width:768px) {padding-left:6px;}
			}
		}
		.phone {
			@media (min-width:768px) {padding-right:6px;}
		}
		.fax {
			@media (min-width:768px) {padding-left:6px;}
		}
    }
}

/* Japanese specific fixes */
.ja {
	&.page-template-ikon-contact {
		.entry-content {
			p {
				span {
					&.wpcf7-not-valid-tip {
						font-size:13px;
					}
				}
			}
			.wpcf7-response-output {
				font-size:16px;
				@media (max-width:767px) {
					font-size:15px;
				}
			}
		}
	}
}


/* Animation */

input, textarea {
	transition:.2s all;
	-webkit-transition:.2s all;
	-moz-transition:.2s all;
	-ms-transition:.2s all;
	-o-transition:.2s all;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

/******************* Contact Success page ************************/
.contact-success {
	height:calc(100vh - 291px);
	min-height:600px;
	background:#fff;
	img {
		max-width:100px;
		max-height:100px;
		margin:0 auto;
	}
	.extra-section {
	    border-top: 1px solid #ceaf9d;
	    border-bottom: 1px solid #ceaf9d;
	    p{margin:10px 0;}
	    margin:0 auto;
	    max-width:700px;
	}
}




