/******************* 3s3c Related Styling ************************/

.showcase {
  h6 {
    @media (max-width:767px) {
      margin-bottom:0;
    }
  }
  .col-lg-5 {
    text-align: center;
  }
  img {
    max-width:460px;
		@media (max-width:767px) {
			max-width:380px;
	    width:calc(100% - 80px);
	    margin:0 auto;
	    display:block;
		}
  }
  .wrapper {
    position:relative;
    overflow: hidden;
    .anchor {
      position: absolute;
      top: -80px;
      visibility: hidden;
    }
  }
  .wrapper:nth-child(even) {
    .col-lg-5 {float:right;
    }
    .col-lg-7 {float:left;
      @media (min-width:992px) {padding-right:50px;}
      @media (max-width:991px) {padding:0px;}
    }
  }
  .wrapper:nth-child(odd) {
    .col-lg-7 {float:right;
      @media (min-width:992px) {padding-left:50px;}
      @media (max-width:991px) {padding:0px;}
    }
    .col-lg-5 {float:left;
    }
  }
  .food-section {
  	margin-top:20px;
  	border-top:1px solid #CEAF9D;
  	border-bottom:1px solid #CEAF9D;
  	padding-top:10px;
    position:relative;
    @media (max-width:543px) {margin-top:40px;}
  	td {
  		vertical-align:top;
      &:first-child {
        @media (max-width:543px) {
          position: absolute;
          text-align:center;
          top:-23px;
          width:100%;
        }
      }
		  img {
		  	width:56px;
        background:#fff;
        @media (max-width:543px) {width:40px;}
		  }
  	}
    p {
      @media (max-width:543px) {padding-top: 12px;}
    }
  }
}

/* Compatibility tweaks */
.ua-ie-11, .ua-ie-10, .ua-ie-9 {
    .food-section {
      td {
        img {
          height:52px;
          @media (max-width:543px) {height:37px;}
        }
      }

    }
}