/******************* Homepage related style ************************/

/* Text */
h2 {
	margin:0 auto;
}

p {@media (max-width:543px) {margin-bottom:8px;} }

.ikon-container.article {
	h2, p.lg {
         @media (max-width:543px) {
         	text-align:left;
         }
	}
}

/* banner image */
.ikon-banner {
	@media (max-width:991px) {
		h1, p.lg {
			text-align:center;
			max-width:700px;
			margin:0 auto;
		}
		.text-box.home {
			height:auto;
			top:55%;
		}

	}
	&.vh720 {
		@media (max-width:991px) {
			.text-box.home {
		    }
		}
		@media (max-width:543px) {
			h1, p.lg {
				text-align:left;
			}
		}
    }
}

/* 3 Ikons */
.three-imports {
	max-width:400px;
	margin:0 auto;
	p {
		margin-top:3px;
		margin-bottom:0;
		text-transform:uppercase;
	}
}


/* Venue Gallery */
.ikon-container {
	&.gallery {
		@media (min-width:1330px) {
			max-width:calc(1410px - 80px);
		}
		@media (max-width:1329px) {
			max-width:100%;
		}
	}
}

/* 3s3c thumbnail */
.thumbnails {
	a:hover {
		text-decoration:underline;
		color:#000;
	}
	a:active, a:focus {
		text-decoration:none;
	}
	.label {
		h6 {
      display: block;
      text-align: center;
      @media (max-width:767px) {height: 28px;}
      span {
      	background:#fff;
      	padding: 0 15px;
      }
		}
		.text-box {
      width: 100%;
      margin-top: -26px;
      border:1px solid #84370A;
	  }
	}
	.col-lg-6 {
	@media (max-width:991px) {max-width: 600px;}
    margin: 0 auto;
		&:first-child {
			padding-left:0;
			@media (max-width:543px) {
				padding-right:0;
			}
		}
		&:last-child {
			padding-right:0;
			@media (max-width:543px) {
				padding-left:0;
			}
		}
		.col-4 {@media (max-width:543px) {padding:0 6px;} }
	}
	p {
		line-height:1.3;
	}
}

/* Catalog CTA (enlarges image size as screensize is reduced) */
.catalog {
	p {
	  max-width: 770px;
    margin: 0 auto;
	}
	.lineup {
		overflow:hidden;
		img {
	    max-width: 1440px;
	    margin: 0 auto;
	    display: block;
      width:100%;
			@media (max-width:991px) {width:calc(100% + 43.8%);}
			//@media (max-width:767px) {width:calc(100% + 125%);}
			@media (max-width:543px) {width:calc(100% + 108%);}
		}
	}
	.preview {
		img {
			max-width:320px;
			height: 223px;
			margin:0 auto;
			@media (max-width:543px) {max-width: 220px;height:154px;}
		}
	}
}

/* Responsive text change */
.home {
	p, h2, h1 {
		@media (max-width:767px) {
		  //text-align:left;
		}
	}
}

/* Button modification */
.ikon-banner.vh320 {
	a {
		width: 100%;
        margin-top: -15px;
	}
}


/* Compatibility tweaks */
.ua-ie-11, .ua-ie-10, .ua-ie-9 {
    .home .col-lg-6 {flex: 0 0 48%;}
}