/******************* Banner styling ************************/

/* Banner Default*/
.ikon-banner {
    width:100%;
    overflow: hidden;
    position:relative;
    background:#000;

	/* Banner size*/
	&.full {height:calc(100vh - 183px);
	    @media (max-width:767px) {height:calc(100vh - 327px;}
	}
	&.vh720 {height:720px;
		// @media (max-width:991px) {height:720px;}
	    // @media (max-width:767px) {height:720px;}
	    // @media (max-width:370px) {height:720px;}
	}

	&.vh320 {height:320px;
		// @media (max-width:991px) {height:720px;}
	    // @media (max-width:767px) {height:720px;}
	    // @media (max-width:543px) {height:calc(100vh - 50px;}
	    // @media (max-width:370px) {height:720px;}
	}
	&.vh280 {height:280px;
		@media (max-width:767px) {height:200px;}
	}

	/* Banner text box */
	.text-box {
	  position:absolute;
		top: 50%;
		transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
		z-index:9;
		margin:0 auto;
		left:0;
		right:0;
	}

	/* banner Image */
	.banner-img {
		background-repeat:no-repeat;
	    background-size:contain;
	    background-position: 50% 50%;
	    background-size:cover;
	    position: relative;
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	    height:100%;
	}
}

/* Home banner */
.text-box.home {
	display: table;
	height:100%;
}

.text-box-empty {
	width:41.66667%;
	@media (max-width:991px) {display:none;}
}

.text-box-container {
	vertical-align: middle;
	display: table-cell;
    height: 720px;
	width:50%;
	background: rgba(0, 0, 0, 0.6);
    padding:0 40px;
    @media (max-width:1450px) {width:53%;}
    @media (max-width:1190px) {width:58.3333%;}
    @media (max-width:1100px) {width:61%;}
    @media (max-width:991px) {width:100%; padding:40px; height:auto; }
    @media (max-width:543px) {padding:0px; background:none; }
}


/* Mobile vh workaround (EN only) */
.en {
	.ikon-banner.vh720 {
	    @media (max-width:543px) {height:calc(100vh - 50px; min-height:492px!important;}
    	.text-box.home {
    		@media (max-width:543px){top:inherit;bottom: calc(0% - 97px); }
    		@media (max-width:503px){top:inherit;bottom: calc(0% - 107px); }
    		@media (max-width:435px){top:inherit;bottom: calc(0% - 122px); }
    		@media (max-width:398px){top:inherit;bottom: calc(0% - 138px); }
    		@media (max-width:350px){top:inherit;bottom: calc(0% - 158px); }
    		@media (max-width:330px){top:inherit;bottom: calc(0% - 181px); }
    	}
	}
}

/* Mobile vh workaround (JA only) */
.ja {
	.ikon-banner.vh720 {
	    @media (max-width:543px) {height:calc(100vh - 50px; min-height:492px!important;}
    	.text-box.home {
    		@media (max-width:543px){top:inherit;bottom: calc(0% - 73px); }
    		@media (max-width:503px){top:inherit;bottom: calc(0% - 89px); }
    		@media (max-width:436px){top:inherit;bottom: calc(0% - 102px); }
    		@media (max-width:384px){top:inherit;bottom: calc(0% - 115px); }
    		@media (max-width:352px){top:inherit;bottom: calc(0% - 122px); }
    		@media (max-width:343px){top:inherit;bottom: calc(0% - 142px); }
    		@media (max-width:323px){top:inherit;bottom: calc(0% - 156px); }
    	}
	}
}


/* iphone 6+ */
@media screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio: 3) {
    .ua-safari .ikon-banner.vh720 { height:calc(736px - 59px - 77px - 32px);}
    .ua-crios.ua-mobile .ikon-banner.vh720 { height:calc(736px - 59px - 77px); }
}

/* iphone 6 */
@media screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
    .ua-safari .ikon-banner.vh720 { height:calc(667px - 59px - 77px - 32px); }
    .ua-crios.ua-mobile .ikon-banner.vh720 { height:calc(667px - 59px - 77px); }
}

/* iphone 5 */
@media only screen and (min-device-width : 320px) and (max-device-width: 568px) and (device-aspect-ratio: 40/71) {
    .ua-safari .ikon-banner.vh720 { height:calc(568px - 59px - 77px - 45px); }
    .ua-crios.ua-mobile .ikon-banner.vh720 { height:calc(568px - 59px - 77px); }
}

/* Compatibility tweaks */
.ua-ie-11, .ua-ie-10, .ua-ie-9 {
	.ikon-banner {
		.text-box.home {
			display:inherit;
		}
		.text-box-empty {
			display:table-cell;
			@media (max-width:991px) {display:none;}
		}
	}
}