/******************* Access page related style ************************/

.page-template-ikon-access {
	.col-md-7.map {
		float:right;
		@media (max-width:767px) {
			margin-bottom:30px;
		}
		.map-responsive {
			.map-style, #gmap_canvas {
				@media (max-width:543px) {
					height:300px!important;
				}
			}
		}
	}
	.col-md-5 {
		@media (min-width:768px) {padding-right:50px;}
		p {
			line-height:1.5;
		}
		button.btn.ikon {
			width:60%;
			color:#AA592A;
			p {
		    	color:#AA592A;
		    }
			&:hover, &:active, &:focus {
				p {
					color:#fff!important;
				}
			}
			a {
				letter-spacing:0;
			}
			@media (max-width:767px) {
				width:100%;
			}
		}
		@media (max-width:543px) {
			padding:0 20px;
		}
	}
	.ikon-container.showcase {
		@media (max-width:543px) {
			max-width:100%;
		}
		&.showcase {
			@media (max-width:543px) {margin-top:10px;}
			@media (max-width:460px) {margin-top:-10px;}
			@media (max-width:370px) {margin-top:-30px;}
		}
	}
}

/* Remove option to change map type */
.gm-inset.gm-inset-hover-enabled{
  display: none!important;
}