/******************* All Defaults ************************/
html, body, header, article, aside, div, area, a, li, ul, footer {margin:0; padding:0;}

/*******CLASS ARCHIVE********/

/* remove-padding */
.no-pad {padding:0;}

/* 2 Column padding */
.pad-left {@media (min-width:992px) {padding-left:50px;} @media (max-width:991px) and (min-width:768px) {padding-left:0px;} }
.pad-right {@media (min-width:992px) {padding-right:50px;} @media (max-width:991px) and (min-width:768px) {padding-right:0px;} }

/* remove-margin */
.no-mar {margin:0;}

a {&:hover, &:active, &:focus {color:#AA592A;} }
p a {text-decoration:underline;}

/* Bootstrap grid */
[class*="col-"] {
	float:left;
}

/* background color */
.brand-yellow {background:#FEBB15;}
.dark-yellow {background:#E9AA0E;}
.brown {background:#84370A;}
.black {background:#000000;}
.dark-grey {background:#333333;}
.grey {background:#4f4f4f;}
.light-grey {background:#D3D3D3;}
.pale-grey {background:#EFEFEF;}
.white {background:#FFFFFF;}

/* text color */
.brand-yellow-text {color:#FEBB15;}
.dark-yellow-text {color:#E9AA0E;}
.brown-text {color:#AA592A;}
.black-text {color:#000000;}
.grey-text {color:#4f4f4f;}
.white-text {color:#FFFFFF;}

/* borders */
.border {border-bottom:1px solid #d3d3d3;}

/* round corners */
.round {border-radius:2px;}

/* vertical spaces */
.mobile {display:none!important; @media (max-width:767px) {display:block!important;} }
.tablet {display:none!important; @media (max-width:880px) and (min-width:768px) {display:block!important;} }
.vs-100, .vs-80, .vs-60, .vs-40, .vs-30, .vs-20, .vs-10 {display:block; clear:both; width:100%;}
.vs-100 {height:100px; @media (max-width:767px){height:80px;} @media (max-width:543px){height:60px;} }
.vs-80 {height:80px; @media (max-width:767px){height:60px;} @media (max-width:543px){height:40px;} }
.vs-60 {height:60px; @media (max-width:767px){height:40px;} @media (max-width:543px){height:30px;} }
.vs-40 {height:40px; @media (max-width:767px){height:30px;} @media (max-width:543px){height:20px;} }
.vs-30 {height:30px; @media (max-width:767px){height:20px;} @media (max-width:543px){height:15px;} }
.vs-20 {height:20px; @media (max-width:767px){height:10px;} @media (max-width:543px){height:10px;} }
.vs-10 {height:10px; @media (max-width:767px){height:10px;} @media (max-width:543px){height:10px;} }


/* IMG */
img {width:100%; height:auto;}

/*container*/
.ikon-container {
	width:100%; margin:0 auto; display: flex; flex-wrap: wrap;
	@media (min-width:1181px) {max-width:1100px;}
	@media (max-width:1180px) {max-width:calc(100% - 80px);}
	@media (max-width:767px) {max-width:calc(100% - 60px);}
	@media (max-width:543px) {max-width:calc(100% - 40px);}
	/* Nav container*/
	&.nav {
	  max-width:calc(100% - 30px);
	  @media (min-width:1460px) {max-width:1440px;}
	  @media (max-width:767px) {max-width:calc(100% - 20px); }
	  @media (max-width:543px) {max-width:calc(100% - 15px); &.site-info {max-width:calc(100% - 40px); } }
	}
	/* Article sized container (830px) */
	&.md {@media (min-width:910px) {max-width:830px;} }

	/* Widescreen sized container (1280px) */
	&.lg {
		@media (min-width:1360px) {max-width:1280px;}
	    @media (min-width:1440px) {max-width:1280px;}
	    @media (min-width:1800px) {max-width:1440px;}
	}
}

/*button*/
a {
	&.button-link {
		margin:0 auto;
	}
	button.btn.ikon {padding:.75rem 1.3rem; border-radius:2px;letter-spacing:.9px;white-space: initial;
		/* Wide varient */
		&.wide {width:700px;}
	    /* Primary button (add sm for smaller version) */
	    &.primary {background:#84370A;p {color:#ffffff;} &.sm {padding:.5rem .3rem;} &:hover {background:#5A2506; } }
	    /* Secondary (add sm for smaller version) */
	    &.secondary {background:#ffffff; border:1px solid #84370A; p {color:#84370A;} &.sm {padding:.5rem .3rem;} &:hover {background:#84370A; p {color:#ffffff;} } }
	    /* Remove text decorations */
	    &:hover, &:active, &:focus {text-decoration:none!important;}
	    /* Text */
	    p {margin:0 auto;}
	    h6 span {display:inline-block;}
	}
}

/* CTA buttons */
button {
	margin:0 auto;
	h6 {
		margin:0;
		line-height:1.6;
		font-size:15px;
		letter-spacing: .9px;
	}
}

/*Animation*/
.transition {
	transition:.2s all;
	-webkit-transition:.2s all;
	-moz-transition:.2s all;
	-ms-transition:.2s all;
	-o-transition:.2s all;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

/******************* Fonts ************************/

/* Font family */
h1, h2, h3, h5, h6, p.bt, h6 input  {font-family:'FrutigerLTStd-UltraBlack', 'Arial Black', 'Lucida Sans Unicode', sans-serif;}
.ja { h1, h2, h3, h5, h6, p.bt  {font-family:'lato' 'ヒラギノ角ゴ' , 'Arial Black', 'Lucida Sans Unicode', sans-serif;} }
h4, p, .navbar li, .wpcf7-response-output {font-family:'Source Sans Pro', 'Arial', 'Lucida Sans Unicode', sans-serif;}
.ja { h4, p {font-family:'lato' 'ヒラギノ角ゴ', 'Arial', 'Lucida Sans Unicode', sans-serif;} }

/* Case Sensitive */
.en {h1, h2, h3, h5, h6, p.bt  {text-transform: uppercase;} }

/* Color */
h1, h2, h3, h5, h6, p.bt {color:#000000;}
h4, p, .navbar li {color:#4f4f4f;}
/* ja */

/*text-alignment*/
.left-aligned {text-align:left;}
.center-aligned {text-align:center;}
.right-aligned {text-align:right;}

/* Line height */
h1, h2, h3, h4, h5, h6, p {width:100%; line-height:1.7; @media (max-width:543px){line-height:1.6;} }

/* Font size & custom line height */
h1 {font-size:42px; line-height:1.1;font-weight:700;
	//@media (max-width:991px) {font-size:36px;}
	@media (max-width:767px) {font-size:36px;}
	@media (max-width:543px) {font-size:28px;}
	//@media (max-width:370px) {font-size:36px;}
}

h2 {font-size:36px;line-height:1.1;font-weight:700;
	//@media (max-width:991px) {font-size:28px;}
	@media (max-width:767px) {font-size:30px;}
	@media (max-width:543px) {font-size:24px;}
	//@media (max-width:370px) {font-size:36px;}
}

h3 {font-size:32px;line-height:1.1;font-weight:700;
	//@media (max-width:991px) {font-size:24px;}
	@media (max-width:767px) {font-size:24px;}
	//@media (max-width:543px) {font-size:36px;}
	//@media (max-width:370px) {font-size:36px;}
}

h4 {font-size:21px;
	//@media (max-width:991px) {font-size:24px;}
	@media (max-width:767px) {font-size:18px;}
	//@media (max-width:543px) {font-size:36px;}
	//@media (max-width:370px) {font-size:36px;}
}

h6 {font-size:19px;font-weight:700;
    @media (max-width:767px) {font-size:15px;}
}

p.lg {font-size:21px;
	@media (max-width:991px) {font-size:18px;}
	//@media (max-width:767px) {font-size:18px;}
	@media (max-width:543px) {font-size:16px;}
	//@media (max-width:370px) {font-size:36px;}
}

p {font-size:18px;
	//@media (max-width:991px) {font-size:18px;}
	//@media (max-width:767px) {font-size:18px;}
	@media (max-width:543px) {font-size:16px;}
	//@media (max-width:370px) {font-size:36px;}
}

p.sm {font-size:16px; line-height:1.4;
	//@media (max-width:991px) {font-size:15px;}
	@media (max-width:767px) {font-size:15px;}
	@media (max-width:543px) {font-size:14px;}
	//@media (max-width:370px) {font-size:36px;}
}

p.xs {font-size:16px;
	//@media (max-width:991px) {font-size:36px;}
	@media (max-width:767px) {font-size:15px;}
	@media (max-width:543px) {font-size:13px;}
	//@media (max-width:370px) {font-size:36px;}
}

p.bt {font-size:14px;

}

/* Japanese font sizes */
.ja {
	h1, h2, h3, h4, h5, h6, {width:100%; line-height:1.3;}

	p {width:100%; line-height:1.5; @media (max-width:543px){line-height:1.5;} }

	h1 {font-size:40px; font-weight:700; span {display:inline-block;}
		@media (max-width:991px) {font-size:34px;}
		//@media (max-width:767px) {font-size:36px;}
		@media (max-width:543px) {font-size:28px;}
		//@media (max-width:370px) {font-size:36px;}
	}

	h2 {font-size:34px;font-weight:700; b {font-weight:600;}
		//@media (max-width:991px) {font-size:28px;}
		@media (max-width:767px) {font-size:26px;}
		//@media (max-width:543px) {font-size:36px;}
		//@media (max-width:370px) {font-size:36px;}
	}

	h3 {font-size:30px;font-weight:700;
		//@media (max-width:991px) {font-size:24px;}
		@media (max-width:767px) {font-size:22px;}
		//@media (max-width:543px) {font-size:36px;}
		//@media (max-width:370px) {font-size:36px;}
	}

	h4 {font-weight:700;}

	h6 {font-weight:700;}

	p.lg {font-size:20px; font-weight:400;
		//@media (max-width:991px) {font-size:18px;}
		@media (max-width:767px) {font-size:18px;}
		@media (max-width:543px) {font-size:15px;}
		//@media (max-width:370px) {font-size:14px;}
	}

	p {font-size:17px; font-weight:400;
		//@media (max-width:991px) {font-size:36px;}
		@media (max-width:767px) {font-size:15px;}
		@media (max-width:543px) {font-size:15px;}
		@media (max-width:370px) {font-size:14px;}
	}

	p.sm {font-size:15px; font-weight:400;
		//@media (max-width:991px) {font-size:36px;}
		@media (max-width:767px) {font-size:14px;}
		//@media (max-width:543px) {font-size:36px;}
		@media (max-width:370px) {font-size:13px;}
	}

	p.xs {font-size:13px; font-weight:400; line-height:1.4;
		//@media (max-width:991px) {font-size:36px;}
		//@media (max-width:767px) {font-size:36px;}
		//@media (max-width:543px) {font-size:36px;}
		@media (max-width:370px) {font-size:12px;}
	}

}


/* Table */
.page-template-ikon-company, .page-template-ikon-recruit-ja {
	table {
		border:1px solid #d4d4d4;
		width:100%;
		tr {
			border-bottom:1px solid #d4d4d4;
			&:last-child {
				border:none;
			}
			td {
				padding:10px;
				p {
					margin:0;
					line-height:1.5;
				}
				&:first-child {
					vertical-align:top;
					min-width:120px;
					width:27%;
					background:#F7F7F7;
					padding-left:10px;
					p {
						color:#84370A;
						font-weight:600;
					}
				}
				&:last-child {
					padding-left:20px;
				}
			}
		}
	}
}






