/******************* VARIABLES ************************/
html, body, header, article, aside, div, area, a, li, ul, footer {margin:0; padding:0;}



/************ Remove padding ************/
.no-pad {padding:0;}



/************ Remove margin ************/
.no-mar {margin:0;}



/************ Color ************/
$primary:	 #84370A;
$secondary:  #E9AA0E;
$black:	     #000000;
$dark-grey:  #333333;
$grey:	     #4f4f4f;
$light-grey: #D3D3D3;
$pale-grey:  #EFEFEF;
$white:      #FFFFFF;



/************ Background color ************/
.bg-primary {background:$primary;}
.bg-secondary {background:$secondary;}
.bg-black {background:$black;}
.bg-dark-grey {background:$dark-grey;}
.bg-grey {background:$grey;}
.bg-light-grey {background:$light-grey;}
.bg-pale-grey {background:$pale-grey;}
.bg-white {background:$white;}



/************ Text color ************/
.txt-primary {color:$primary;}
.txt-secondary {color:$secondary;}
.txt-black {color:$black;}
.txt-dark-grey {color:$dark-grey;}
.txt-grey {color:$grey;}
.txt-light-grey {color:$light-grey;}
.txt-pale-grey {color:$pale-grey;}
.txt-white {color:$white;}



/************ borders ************/
.border {border:1px solid #{$light-grey};}
.border-top {border-top:1px solid #{$light-grey};}
.border-bottom {border-bottom:1px solid #{$light-grey};}
.border-left {border-left:1px solid #{$light-grey};}
.border-right {border-right:1px solid #{$light-grey};}



/************ round corners ************/
.round-lg {border-radius:100px;}
.round-sm {border-radius:2px;}



/************ IMG ************/
img {width:100%; height:auto;}



/************ container ************/
.tc-container {
    width:100%; margin:0 auto; display: flex; flex-wrap: wrap;
	@media (min-width:1181px) {max-width:1100px;}
	@media (max-width:1180px) {max-width:calc(100% - 80px);}
	@media (max-width:767px) {max-width:calc(100% - 60px);}
	@media (max-width:543px) {max-width:calc(100% - 40px);}
	@media (max-width:370px) {max-width:calc(100% - 30px);}
	/* Nav container*/
	&.nav {
	  max-width:calc(100% - 30px);
	  @media (min-width:1460px) {max-width:1440px;}
	  @media (max-width:767px) {max-width:calc(100% - 20px); }
	  @media (max-width:543px) {max-width:calc(100% - 15px); }
	}
	/* Article sized container (830px) */
	&.mw-830 {@media (min-width:910px) {max-width:830px;} }
}



/************ button ************/
a {
	button {padding:.75rem 1.3rem; border-radius:2px;letter-spacing:.9px;white-space: initial;
		/* Wide varient */
		&.wide {width:700px;}
	    /* Primary button (add sm for smaller version) */
	    &.primary {background:$primary;p {color:$white;} &.sm {padding:.5rem .3rem;} &:hover {background:$primary; } }
	    /* Secondary (add sm for smaller version) */
	    &.secondary {background:$white; border:1px solid #{$orange}; p {color:$primary;} &.sm {padding:.5rem .3rem;} &:hover {background:$primary; p {color:$white;} } }
	    /* Remove text decorations */
	    &:hover, &:active, &:focus {text-decoration:none!important;}
	}
}



/************ Transition ************/
.transition {
	transition:.2s all;
	-webkit-transition:.2s all;
	-moz-transition:.2s all;
	-ms-transition:.2s all;
	-o-transition:.2s all;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}



/************ Hider ************/
@media (min-width:992px) {.hide-above-992 {display:none;} }
@media (max-width:991px) {.hide-below-991 {display:none;} }
@media (min-width:768px) {.hide-above-768 {display:none;} }
@media (max-width:767px) {.hide-below-767 {display:none;} }
@media (min-width:544px) {.hide-above-544 {display:none;} }
@media (max-width:543px) {.hide-below-543 {display:none;} }
@media (min-width:371px) {.hide-above-371 {display:none;} }
@media (max-width:370px) {.hide-below-370 {display:none;} }



/************ Vertical height ************/
$vs-100-height: 100px;
$vs-80-height:  80px;
$vs-60-height:  60px;
$vs-40-height:  40px;
$vs-30-height:  30px;
$vs-20-height:  20px;
$vs-10-height:  10px;
$vs-5-height:   5px;

.vs {
	display:block; clear:both; width:100%;
	&.lg-100 { {height:$vs-100-height;} }
	&.md-100 { @media (max-width:991px) {height:$vs-100-height;} }
	&.sm-100 { @media (max-width:767px) {height:$vs-100-height;} }
	&.xs-100 { @media (max-width:543px) {height:$vs-100-height;} }
	&.xxs-100 { @media (max-width:370px) {height:$vs-100-height;} }
	&.lg-80 { {height:$vs-80-height;} }
	&.md-80 { @media (max-width:991px) {height:$vs-80-height;} }
	&.sm-80 { @media (max-width:767px) {height:$vs-80-height;} }
	&.xs-80 { @media (max-width:543px) {height:$vs-80-height;} }
	&.xxs-80 { @media (max-width:370px) {height:$vs-80-height;} }
	&.lg-60 { {height:$vs-60-height;} }
	&.md-60 { @media (max-width:991px) {height:$vs-60-height;} }
	&.sm-60 { @media (max-width:767px) {height:$vs-60-height;} }
	&.xs-60 { @media (max-width:543px) {height:$vs-60-height;} }
	&.xxs-60 { @media (max-width:370px) {height:$vs-60-height;} }
	&.lg-40 { {height:$vs-40-height;} }
	&.md-40 { @media (max-width:991px) {height:$vs-40-height;} }
	&.sm-40 { @media (max-width:767px) {height:$vs-40-height;} }
	&.xs-40 { @media (max-width:543px) {height:$vs-40-height;} }
	&.xxs-40 { @media (max-width:370px) {height:$vs-40-height;} }
	&.lg-30 { {height:$vs-30-height;} }
	&.md-30 { @media (max-width:991px) {height:$vs-30-height;} }
	&.sm-30 { @media (max-width:767px) {height:$vs-30-height;} }
	&.xs-30 { @media (max-width:543px) {height:$vs-30-height;} }
	&.xxs-30 { @media (max-width:370px) {height:$vs-30-height;} }
	&.lg-20 { {height:$vs-20-height;} }
	&.md-20 { @media (max-width:991px) {height:$vs-20-height;} }
	&.sm-20 { @media (max-width:767px) {height:$vs-20-height;} }
	&.xs-20 { @media (max-width:543px) {height:$vs-20-height;} }
	&.xxs-20 { @media (max-width:370px) {height:$vs-20-height;} }
	&.lg-10 { {height:$vs-10-height;} }
	&.md-10 { @media (max-width:991px) {height:$vs-10-height;} }
	&.sm-10 { @media (max-width:767px) {height:$vs-10-height;} }
	&.xs-10 { @media (max-width:543px) {height:$vs-10-height;} }
	&.xxs-10 { @media (max-width:370px) {height:$vs-10-height;} }
	&.lg-5 { {height:$vs-5-height;} }
	&.md-5 { @media (max-width:991px) {height:$vs-5-height;} }
	&.sm-5 { @media (max-width:767px) {height:$vs-5-height;} }
	&.xs-5 { @media (max-width:543px) {height:$vs-5-height;} }
	&.xxs-5 { @media (max-width:370px) {height:$vs-5-height;} }
}



/******************* FONT STYLE ************************/

/************ font family ************/
h1, h2, h3, h4, h5, h6 p, a, li, ul, td, input, button {font-family:'FrutigerLTStd-UltraBlack', 'Arial Black', 'Lucida Sans Unicode', sans-serif;}
h1, h2, h3, h4, h5, h6 p, a, li, ul, td, input, button {font-family:'FrutigerLTStd-UltraBlack', 'Arial Black', 'Lucida Sans Unicode', sans-serif;}



/************ base line height ************/
h1, h2, h3, h4, h5, h6 p, a, li, ul, td, input, button {line-height:1.7; @media (max-width:767px) {line-height:1.6;} }



/* Case Sensitive */
h1, h2, h3, h4, h5, h6 p, a, li, ul, td, input, button {text-transform: uppercase;} }



/************ text-alignment ************/
.left-aligned {text-align:left;}
.center-aligned {text-align:center;}
.right-aligned {text-align:right;}



/*********** FONT SIZE***********/

$h1-size:	42px;
$h2-size:	36px;
$h3-size:	32px;
$h4-size:	24px;
$h5-size:	20px;
$p-lg-size:	18px;
$p-md-size: 16px;
$p-sm-size: 14px;
$p-xs-size: 13px;

h1, .h1-size { // h1 default size - use ".h1-size" to override HTML tag  |  JA size is 90% of EN
	font-size:$h1-size; .ja &{font-size:calc(#{$h1-size} * .9);}
	@media (max-width:991px) {font-size:$h2-size; .ja &{font-sizecalc(#{$h2-size} * .9);} }
	@media (max-width:767px) {font-size:$h3-size; .ja &{font-size:calc(#{$h3-size} * .9);} }
	@media (max-width:543px) {font-size:$h4-size; .ja &{font-size:calc(#{$h4-size} * .9);} }
	@media (max-width:370px) {font-size:$h5-size; .ja &{font-size:calc(#{$h5-size} * .9);} }
}
h2, .h2-size { //h2 default size - use ".h2-size" to override HTML tag  |  JA size is 90% of EN
	font-size:$h2-size; .ja &{font-size:calc(#{$h2-size} * .9);}
	@media (max-width:991px) {font-size:$h3-size; .ja &{font-size:calc(#{$h3-size} * .9);} }
	@media (max-width:767px) {font-size:$h4-size; .ja &{font-size:calc(#{$h4-size} * .9);} }
	@media (max-width:543px) {font-size:$h5-size; .ja &{font-size:calc(#{$h5-size} * .9);} }
	@media (max-width:370px) {font-size:$p-lg-size; .ja &{font-size:calc(#{$p-lg-size} * .9);} }
}
h3, .h3-size { // h3 default size - use ".h3-size" to override HTML tag  |  JA size is 90% of EN
	font-size:$h3-size; .ja &{font-size:calc(#{$h3-size} * .9);}
	@media (max-width:991px) {font-size:$h4-size; .ja &{font-size:calc(#{$h4-size} * .9);} }
	@media (max-width:767px) {font-size:$h5-size; .ja &{font-size:calc(#{$h5-size} * .9);} }
	@media (max-width:543px) {font-size:$p-lg-size; .ja &{font-size:calc(#{$p-lg-size} * .9);} }
	@media (max-width:370px) {font-size:$p-md-size; .ja &{font-size:calc(#{$p-md-size} * .9);} }
}
h4, .h4-size { // h4 default size - use ".h4-size" to override HTML tag  |  JA size is 90% of EN
	font-size:$h4-size; .ja &{font-size:calc(#{$h4-size} * .9);}
	@media (max-width:991px) {font-size:$h5-size; .ja &{font-size:calc(#{$h5-size} * .9);} }
	@media (max-width:767px) {font-size:$p-lg-size; .ja &{font-size:calc(#{$p-lg-size} * .9);} }
	@media (max-width:543px) {font-size:$p-md-size; .ja &{font-size:calc(#{$p-md-size} * .9);} }
	@media (max-width:370px) {font-size:$p-sm-size; .ja &{font-size:calc(#{$p-sm-size} * .9);} }
}
h5, .h5-size { // h5 default size - use ".h5-size" to override HTML tag  |  JA size is 90% of EN
	font-size:$h5-size; .ja &{font-size:calc(#{$h5-size} * .9);}
	@media (max-width:991px) {font-size:$p-lg-size-size; .ja &{font-size:calc(#{$p-lg-size} * .9);} }
	@media (max-width:767px) {font-size:$p-md-size; .ja &{font-size:calc(#{$p-md-size} * .9);} }
	@media (max-width:543px) {font-size:$p-sm-size; .ja &{font-size:calc(#{$p-sm-size} * .9);} }
	@media (max-width:370px) {font-size:$p-xs-size; .ja &{font-size:calc(#{$p-xs-size} * .9);} }
}
h6, .p-lg-size { // h6 default size - use ".p-lg-size" to override HTML tag  |  JA size is 90% of EN
	font-size:$p-lg-size; .ja &{font-size:calc(#{$p-lg-size} * .9);}
	@media (max-width:991px) {font-size:$p-md-size; .ja &{font-size:calc(#{$p-md-size} * .9);} }
	@media (max-width:767px) {font-size:$p-sm-size; .ja &{font-size:calc(#{$p-sm-size} * .9);} }
	@media (max-width:543px) {font-size:$p-xs-size; .ja &{font-size:calc(#{$p-xs-size} * .9);} }
}
p, a, li, ul, td, input, button, .p-md-size { // p default size - use ".p-md-size" to override HTML tag  |  JA size is 90% of EN
	font-size:$p-md-size; .ja &{font-size:calc(#{$p-md-size} * .9);}
	@media (max-width:991px) {font-size:$p-sm-size; .ja &{font-size:calc(#{$p-sm-size} * .9);} }
	@media (max-width:767px) {font-size:$p-xs-size; .ja &{font-size:calc(#{$p-xs-size} * .9);} }
}
.p-sm-size { // Use ".p-sm-size" to override HTML tag  |  JA size is 90% of EN
	font-size:$p-sm-size; .ja &{font-size:calc(#{$p-sm-size} * .9);}
	@media (max-width:991px) {font-size:$p-xs-size; .ja &{font-size:calc(#{$p-xs-size} * .9);} }
}

.p-xs-size { // Use ".p-xs-size" to override HTML tag  |  JA size is 90% of EN
	font-size:$p-xs-size; .ja &{font-size:calc(#{$p-xs-size} * .9);}
}



/************ Default text colour ************/
h1, .h1-size, h2, .h2-size h3, .h3-size, h4 .h4-size, h5 .h5-size, h6 {
	color:#333333;
}

.p-lg-size, p, a, li, ul, td, input, button, .p-md-size, .p-sm-size {
	color:#747474;
}



